main .container {
  width: 1280px;
  margin: 0 auto;
}

main .container .row {
  padding: 0 28px;
}

#banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  min-height: 100vh;
  background: url(../img/banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 160px;
}

#banner h1 {
  color: white;
  font-size: 300px;
  font-weight: bold;
  text-align: center;
  line-height: 300px;
}

#banner p {
  color: white;
  font-size: 30px;
  text-align: center;
}

#banner .scrollDown {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: scrollDown 1.5s ease-in-out infinite;
  transform: translateX(-50%);
  opacity: 0.5;
  transition: opacity 1s;
}

#banner .scrollDown:hover {
  opacity: 1;
}

#banner .scrollDown .icon {
  width: 15px;
  height: 60px;
  border-radius: 10px;
  background-color: white;
}

#banner .scrollDown .cont {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#contents {
  background: white;
  margin-top: 1000px;
  padding-top: 150px;
  padding-bottom: 50px;
}

#contents .cont1 {
  margin-bottom: 150px;
  position: relative;
}

#contents .cont1 h2 {
  font-size: 35px;
}

#contents .cont1 .list h3 {
  position: absolute;
  top: 50px;
  display: block;
  border: 1px solid #282828;
  width: 305px;
  height: 75px;
  font-size: 30px;
  text-align: center;
  line-height: 75px;
}

#contents .cont1 .list ul {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 140px;
  border: 1px solid #282828;
}

#contents .cont1 .list ul li {
  width: 33.3%;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

#contents .cont1 .list.li1 h3 {
  left: 0;
}

#contents .cont1 .list.li2 h3 {
  left: 50%;
  transform: translateX(-100%);
}

#contents .cont1 .list.li3 h3 {
  right: 50%;
  transform: translateX(100%);
}

#contents .cont1 .list.li4 h3 {
  right: 0;
}

#contents .cont1 .list.active {
  padding-top: 75px;
}

#contents .cont1 .list.active h3 {
  background: #282828;
  color: white;
}

#contents .cont1 .list.active ul {
  display: flex;
}

#contents .cont2 {
  margin-bottom: 195px;
}

#contents .cont2 h2 {
  font-size: 35px;
}

#contents .cont2 .text {
  font-size: 20px;
  white-space: pre-line;
}

@media (max-width: 1300px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  main .container {
    width: 100%;
  }
  #contents .cont1 .list h3 {
    top: 53px;
    width: 25%;
    box-sizing: border-box;
  }
}

@media (max-width: 1180px) {
  #banner h1 {
    font-size: 200px;
    line-height: 200px;
  }
  #banner p {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  main .container .row {
    padding: 0;
  }
  #banner h1 {
    font-size: 130px;
    line-height: 130px;
  }
  #banner p {
    font-size: 20px;
  }
  #contents .cont1 h2 {
    padding-left: 14px;
    line-height: 52px;
    font-size: 25px;
  }
  #contents .cont1 .list h3 {
    font-size: 20px;
  }
  #contents .cont1 .list ul {
    padding: 10px;
  }
  #contents .cont2 h2 {
    padding-left: 14px;
    font-size: 25px;
  }
  #contents .cont2 .text {
    padding: 0 14px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  #banner h1 {
    font-size: 100px;
    line-height: 100px;
  }
  #banner p {
    font-size: 15px;
  }
  #contents .cont1 h2 {
    padding-left: 14px;
    line-height: 52px;
    font-size: 25px;
  }
  #contents .cont1 .list h3 {
    font-size: 15px;
  }
  #contents .cont1 .list ul {
    padding: 10px;
  }
  #contents .cont1 .list ul li {
    font-size: 15px;
  }
  #contents .cont2 h2 {
    padding-left: 14px;
    font-size: 25px;
  }
  #contents .cont2 .text {
    padding: 0 14px;
    font-size: 13px;
  }
}
