*{font-family: "NanumSquare";}
main {}
#banner{}
#contents{}
.container{width: 1280px;}

/*banner*/
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.banner img{
    height: 100vh;
}
.banner .ban_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    text-align: center;
}
.banner h1{
    font-size: 9vw;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1vw;
}
.banner p{
    font-size: 2vw;
    color: #fff;
    flex-direction: column;
    word-break : nowrap;
}
.banner .sliderlist{
    width: 100%;
    position: relative;
}
.banner .sliderlist .sliderimg{
    position: absolute;
}


/*cont1*/
.cont1{
    margin-top: 9vw;
    width: 76%;
    height: 33vw;
    background-image: linear-gradient(to right, #ded7b6 80%,#fff);
    position: relative;
}
.cont1 .con1{
    margin-left: 19vw;
}
.cont1 .con1 .rest_img1{
    width: 40.5vw;
}
.cont1 .con1 .text1{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background: #fff;
    padding: 1vw 4vw;
    box-shadow: 10px 10px 10px #ccc;
    transition: all 0.3s;
}
.cont1 .con1 .text1:hover{
    background: #5b30b2;
}
.cont1 .con1 .text1:hover h2{color: #fff;}
.cont1 .con1 .text1:hover p{color: #fff;}
.cont1 .con1 .text1 h2{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
}
.cont1 .con1 .text1 p{
    font-size: 1.2vw;
}
.cont1 .con1 .image1{
    position: absolute;
    top: -9.1vw;
    right: 4vw;
    width: 16.5vw;
}


/*cont2*/
.cont2{
    margin: 12vw 0;
    width: 76%;
    height: 33vw;
    background-image: linear-gradient(to left, #aeb9b8 80%,#fff);
    margin-left: 23.6vw;
    position: relative;
}

.cont2 .con2{
    margin-right: 19vw;
}
.cont2 .con2 .rest_img2{
    width: 40.5vw;
    margin-left: 17vw;
}
.cont2 .con2 .text2{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #282828;
    padding: 1vw 4vw;
    box-shadow: -10px 10px 10px #ccc;
    transition: all 0.3s;
}  
.cont2 .con2 .text2:hover{
    background: #5b30b2;
}
.cont2 .con2 .text2 h2{
    font-size: 2vw;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5vw;
}
.cont2 .con2 .text2 p{
    font-size: 1.2vw;
    color: #fff;
}
.cont2 .con2 .image2_1{
    position: absolute;
    bottom: -2vw;
    left: -5.5vw;
    width: 7vw;
}
.cont2 .con2 .image2_2{
    position: absolute;
    bottom: 10.7vw;
    left: -2.51vw;
    width: 16vw;
}

/*cont3*/
.cont3{
    margin-bottom: 9vw;
    width: 76%;
    height: 33vw;
    background-image: linear-gradient(to right, #e1e0f2 80%,#fff);
    position: relative;
}
.cont3 .con3{
    margin-left: 19vw;
}
.cont3 .con3 .rest_img3{
    width: 40.5vw;
}
.cont3 .con3 .text3{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background: #fff;
    padding: 1vw 4vw;
    box-shadow: 10px 10px 10px #ccc;
    z-index: 1;
    transition: all 0.3s;
}
.cont3 .con3 .text3:hover{
    background: #5b30b2;
}
.cont3 .con3 .text3:hover h2{color: #fff;}
.cont3 .con3 .text3:hover p{color: #fff;}
.cont3 .con3 .text3 h2{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
}
.cont3 .con3 .text3 p{
    font-size: 1.2vw;
    line-height: 1.7;
}
.cont3 .con3 .image3{
    position: absolute;
    bottom: 10.9vw;
    right: -2vw;
    width: 19vw;
}




/*스크롤애니메이션*/
.hideme
{
    opacity:0;
}
.fadeinleft {
    opacity:0;
    margin-left:-500px;    
    max-width:100%;
}
.fadeinright {
    opacity:0;
    margin-right: 500px;    
    max-width:100%;
}
.fadeinbottom {
    opacity:0;
    margin-bottom:-100px;   
    max-width:100%;
}
.fadeintop {
    opacity:0;
    margin-top:-100px;   
    max-width:100%;
}



/*@media(max-width:1400px){
    .banner{height: 900px;}
    .banner img{height: 900px;}
    .cont2{height: 2300px;}
}

@media(max-width:1280px){
    .banner{height: 800px;}
    .banner img{height: 800px;}
    .cont2{height: 1700px;}
    .cont1 .cont1_texts .text .infor ul li{margin-bottom: 0.9vw;}
    .cont1 .cont1_texts .text .box{
    right: 0.8vw;
    top: 0vw;
    width: 8.1vw;
    height: 8.1vw;
    padding: 0.5vw;
}
}

@media(max-width:950px){
    .banner{height: 500px;}
    .banner img{height: 500px;}
    .cont2{height: 1500px;}
    .cont1 .cont1_texts .text{margin-top: 4vw;}
    .cont1 .cont1_texts .text .infor ul li{margin-bottom: 1vw;}
    .cont1 .cont1_texts .text .infor ul li:nth-child(2){display: none;}
    .cont1 .cont1_texts .text .box{
    right: 0.8vw;
    top: 0vw;
    width: 8.1vw;
    height: 8.1vw;
    padding: 0.5vw;
}
}

@media(max-width:600px){
    .banner{height: 400px;}
    .banner img{height: 400px;}
    .cont2{height: 1000px;}
    
}

@media(max-width:400px){
    .banner{height: 200px;}
    .banner img{height: 200px;}
    .cont2{height: 700px;}
}*/

















