body {
  overflow: hidden;
}

#aside {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 5vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

main {
  z-index: 0;
  width: 100vw;
}

main section {
  height: 100vh;
  width: 100vw;
}

main section .container {
  width: 1280px;
}

main section .container .raw {
  padding: 0 28px;
}

#aside ul li {
  font-size: 24px;
  color: white;
  opacity: 0.5;
  position: relative;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  text-transform: capitalize;
  cursor: pointer;
}

#aside ul li::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 10px;
  height: 100%;
  background-color: white;
}

#aside ul li.active {
  opacity: 1;
}

.slides {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  bottom: -100vh;
}

.slides.slidesActive {
  bottom: 0;
}

#offer {
  background: url(../img/rooms.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#wedding {
  background: url(../img/wedding.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#dining {
  background: url(../img/dining.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#casino {
  background: url(../img/casino.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#facilities {
  background: url(../img/facilities.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
