@charset "UTF-8";
body {
  overflow: hidden;
  width: 100vw;
}

@keyframes opening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#opening {
  width: 100vw;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
}

#opening .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#opening .wrap .logo {
  width: 100px;
  opacity: 0;
}

#opening .wrap .logo.active {
  animation: opening 1s ease 1;
  opacity: 1;
}

#opening .wrap .desc {
  text-align: center;
}

#opening .wrap .desc .title_K {
  font-size: 30px;
  opacity: 0;
}

#opening .wrap .desc .title_K.active {
  animation: opening 1s ease 1;
  opacity: 1;
}

#opening .wrap .desc .title_E {
  font-size: 20px;
  opacity: 0;
}

#opening .wrap .desc .title_E.active {
  animation: opening 1s ease 1;
  opacity: 1;
}

#opening .wrap .desc .hotel_name {
  margin-top: 30px;
  font-size: 25px;
  color: #aaa;
  opacity: 0;
}

#opening .wrap .desc .hotel_name.active {
  animation: opening 1s ease 1;
  opacity: 1;
}

#opening .wrap button.op_skip {
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid #282828;
  background: none;
  opacity: 0.05;
  transition: opacity 0.4s;
  font-size: 20px;
  font-weight: bold;
  color: #282828;
}

#opening .wrap button.op_skip:hover {
  opacity: 1;
}

#aside {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 5vw;
  transform: translate(0, -50%);
}

main {
  z-index: 0;
  width: 100vw;
}

main section {
  height: 100vh;
  width: 100vw;
}

main section .container {
  width: 1280px;
}

main section .container .raw {
  padding: 0 28px;
}

#aside ul li {
  font-size: 24px;
  color: white;
  opacity: 0.5;
  position: relative;
  transition: opacity 0.4s;
  text-transform: capitalize;
  cursor: pointer;
}

#aside ul li::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 10px;
  height: 100%;
  background-color: white;
}

#aside ul li.active {
  opacity: 1;
}

.slides {
  transition: all 0.4s;
  position: absolute;
  bottom: -100vh;
}

.slides.slidesActive {
  bottom: 0;
}

#offer {
  background: url(../img/rooms.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#wedding {
  background: url(../img/wedding.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#dining {
  background: url(../img/dining.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#casino {
  background: url(../img/casino.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#facilities {
  background: url(../img/facilities.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* CONTENTS */
#offer .offer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#offer .offer .selectWrap {
  display: flex;
  position: relative;
  align-items: flex-end;
  border: 5px solid white;
  padding: 13px 13px 14px 10px;
  border-radius: 5px;
  line-height: 30px;
  color: white;
  margin-right: 25px;
  transition: width 0.4s;
}

#offer .offer .selectWrap .roomSelectWrap .roomSelectBtn {
  background: none;
  border: none;
  color: white;
  line-height: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  appearance: none;
}

#offer .offer .selectWrap .roomSelectWrap .roomSelectBtn:hover {
  color: #5b2fbd;
}

#offer .offer .selectWrap .roomSelectWrap .roomSelect {
  position: absolute;
  overflow: hidden;
  height: 0;
  top: 50px;
  left: 10px;
  transition: height 0.4s;
  cursor: pointer;
}

#offer .offer .selectWrap .roomSelectWrap .roomSelect ul {
  background: white;
  padding: 5px;
  border-radius: 5px;
}

#offer .offer .selectWrap .roomSelectWrap .roomSelect ul li {
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #282828;
  line-height: 30px;
  transition: all 0.4s;
}

#offer .offer .selectWrap .roomSelectWrap .roomSelect ul li:hover {
  color: #5b2fbd;
  transform: scale(1.1);
}

#offer .offer .selectWrap .roomSelectWrap .roomSelect ul li:active {
  color: #5b2fbd;
  transform: scale(0.99);
}

#offer .offer .selectWrap .roomSelectWrap .roomSelect ul li.active {
  background: #5b2fbd;
  color: white;
  border-radius: 5px;
}

#offer .offer .selectWrap .roomSelectWrap:hover .roomSelect {
  height: 180px;
  display: block;
}

#offer .offer .selectWrap .check {
  line-height: 36px;
  font-size: 25px;
  margin-left: 10px;
}

#offer .offer .selectWrap .dateSelectWrap {
  position: relative;
}

#offer .offer .selectWrap .dateSelectWrap:hover .dateOption {
  height: 220px;
}

#offer .offer .selectWrap .dateSelectWrap .dateSelect {
  margin-left: 10px;
  background: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#offer .offer .selectWrap .dateSelectWrap:hover .dateSelect {
  color: #5b2fbd;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption {
  position: absolute;
  overflow: hidden;
  left: -20px;
  top: 40px;
  display: flex;
  justify-content: center;
  height: 0;
  width: 484px;
  border-radius: 10px;
  background: white;
  transition: height 0.4s;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption > div {
  width: 50%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .title {
  font-size: 25px;
  color: #282828;
  text-align: center;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender {
  width: 70%;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender th {
  font-size: 20px;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender th:first-child {
  color: rgba(40, 40, 40, 0.5);
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender th:last-child {
  color: rgba(40, 40, 40, 0.5);
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td {
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.4s;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td:hover {
  transform: scale(1.1);
  background: #55176d;
  color: white;
  opacity: 0.5;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td:active {
  transform: scale(0.9);
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td:first-child {
  color: rgba(40, 40, 40, 0.5);
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td:first-child:hover {
  transform: scale(1.1);
  background: #55176d;
  color: white;
  opacity: 0.5;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td:first-child:active {
  transform: scale(0.9);
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td:last-child {
  color: rgba(40, 40, 40, 0.5);
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td:last-child:hover {
  transform: scale(1.1);
  background: #55176d;
  color: white;
  opacity: 0.5;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td:last-child:active {
  transform: scale(0.9);
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td.firstClick {
  border-radius: 10px 0 0 10px;
  background: #55176d;
  color: white;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td.click {
  background: #55176d;
  color: white;
}

#offer .offer .selectWrap .dateSelectWrap .dateOption .calender td.lastClick {
  border-radius: 0 10px 10px 0;
  background: #55176d;
  color: white;
}

#offer .offer .selectWrap .etcSelectWrap {
  display: flex;
  position: relative;
}

#offer .offer .selectWrap .etcSelectWrap .selectOption {
  background: none;
  border: none;
  color: white;
  line-height: 36px;
  font-size: 30px;
  appearance: none;
}

#offer .offer .selectWrap .etcSelectWrap .selectOption:hover {
  color: #5b2fbd;
}

#offer .offer .selectWrap .etcSelectWrap .selectOption option {
  background: none;
  color: black;
}

#offer .offer .selectWrap .etcSelectWrap .roomIndex {
  font-size: 20px;
  margin-left: 10px;
}

#offer .offer .selectWrap .etcSelectWrap .adultIndex {
  font-size: 20px;
  margin-left: 10px;
}

#offer .offer .selectWrap .etcSelectWrap .childIndex {
  font-size: 20px;
  margin-left: 10px;
}

#offer .offer .selectWrap .etcSelectWrap .etcOption {
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
  left: 35px;
  top: 45px;
  height: 0;
  transition: height 0.4s;
}

#offer .offer .selectWrap .etcSelectWrap .etcOption ul {
  margin: 0 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background: white;
}

#offer .offer .selectWrap .etcSelectWrap .etcOption ul li {
  color: #282828;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s;
  cursor: pointer;
}

#offer .offer .selectWrap .etcSelectWrap .etcOption ul li:hover {
  background: #5b2fbd;
  color: white;
  transform: scale(1.1);
}

#offer .offer .selectWrap .etcSelectWrap .etcOption ul li:active {
  background: #5b2fbd;
  color: white;
  transform: scale(0.99);
}

#offer .offer .selectWrap .etcSelectWrap .etcOption ul li.active {
  background: #5b2fbd;
  color: white;
}

#offer .offer .selectWrap .etcSelectWrap:hover .etcOption {
  height: 310px;
}

#offer .offer .selectWrap .search {
  position: absolute;
  top: -5px;
  right: -71px;
  height: 50px;
  width: 50px;
  background: white;
  border: 12px solid white;
  border-radius: 5px;
  box-sizing: content-box;
  -webkit-mask: url(../img/offer/ico_mask.png) no-repeat;
  mask-size: 100%;
  font-size: 0;
  transition: all 0.4s;
}

#offer .offer .selectWrap .search:hover {
  transform: scale(1.1);
  background: #5b2fbd;
  border: 12px solid #5b2fbd;
}

#offer .offer .selectWrap .search:focus {
  background: #5b2fbd;
  border: 12px solid #5b2fbd;
}

#offer .offer .selectWrap .search:active {
  transform: scale(0.99);
  background: #5b2fbd;
  border: 12px solid #5b2fbd;
}

/* WEDDING_ 손봄*/
.wedding .w_text h2 {
  font-size: 150px;
  font-family: "Italianno", cursive;
  color: #fff;
  text-align: center;
  margin-top: 300px;
  text-shadow: 5px 5px 5px #111;
}

.w_box {
  overflow: hidden;
  box-sizing: border-box;
}

.w_left {
  float: left;
  width: 50%;
  overflow: hidden;
}

.w_left div {
  width: 40%;
  border: 1px solid #fff;
  float: right;
  color: #fff;
  text-align: center;
  padding: 35px;
  background: rgba(0, 0, 0, 0.5);
}

.w_left div h3 {
  font-size: 65px;
  font-family: "Italianno", cursive;
  text-shadow: 3px 3px 3px #111;
}

.w_left div a {
  font-size: 15px;
  color: #fff;
  display: block;
  opacity: 0;
}

.w_left div:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 1s;
}

.w_left div:hover a {
  opacity: 1;
  transition: opacity 1s;
}

.w_left div a:hover p {
  text-decoration: underline;
}

.w_right {
  float: left;
  width: 50%;
}

.w_right div {
  width: 40%;
  border: 1px solid #fff;
  margin-left: -1px;
  color: #fff;
  text-align: center;
  padding: 35px;
  background: rgba(0, 0, 0, 0.5);
}

.w_right div h3 {
  font-size: 65px;
  font-family: "Italianno";
  text-shadow: 3px 3px 3px #111;
  margin-right: 10px;
}

.w_right div a {
  font-size: 15px;
  color: #fff;
  display: block;
  opacity: 0;
}

.w_right div:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 1s;
}

.w_right div:hover a {
  opacity: 1;
  transition: opacity 1s;
}

.w_right div a:hover p {
  text-decoration: underline;
}

.w_main {
  text-align: center;
  margin-top: 20px;
}

.w_main a {
  color: #fff;
}

.w_main a:hover {
  text-decoration: underline;
}

/* //WEDDING_ 손봄*/
#dining .raw {
  display: flex;
  justify-content: center;
}

/*dining 정희*/
main {
  /*//dining 정희*/
  /*casino 은주*/
}

main .dining {
  width: 65vw;
  height: 33vw;
  background: rgba(0, 0, 0, 0.55);
  border: 1vw solid #fff;
  color: #fff;
  text-align: center;
  margin-top: 35vh;
  padding: 5vw;
  box-sizing: border-box;
  transition: all 1s;
  opacity: 0;
}

main .dining.active {
  opacity: 1;
  margin-top: 18vh;
}

main .dining strong {
  font-size: 7vw;
  font-weight: bold;
  padding-top: 3vw;
}

main .dining p {
  font-size: 1.7vw;
}

main .dining a {
  margin-top: 3vw;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  width: 7vw;
  text-align: center;
  margin-left: 42%;
  font-weight: bold;
  font-size: 1.5vw;
  padding: 0.4vw 2vw;
  border-radius: 0.5vw;
  transition: all 0.2s;
}

main .dining a:hover {
  color: #000;
  transform: scale(0.9);
}

main .slidedown {
  z-index: -1;
  margin-top: -600px;
  display: none;
  opacity: 0;
}

main .casino_back {
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}

main .m_casino {
  color: #fff;
  text-align: center;
  padding-top: 180px;
}

main .m_casino span {
  font-size: 3vw;
  font-weight: bold;
}

main .m_casino p {
  font-size: 1.5vw;
  padding-top: 10px;
}

main .m_casino a {
  border: 1px solid #fff;
  font-size: 1vw;
  padding: 15px 20px;
  color: #fff;
  margin-top: 50px;
  display: inline-block;
}

/*//casino 은주*/
#facilities .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#facilities .facilities {
  position: relative;
  margin-bottom: 80px;
}

#facilities .facilities p {
  font-size: 150px;
  font-weight: bold;
  line-height: 150px;
  white-space: pre-line;
  color: white;
  opacity: 0;
  transition: opacity 1s;
}

#facilities .facilities .title_right {
  margin-top: 100px;
  text-align: right;
}

#facilities .facilities .link {
  position: absolute;
  right: 0;
  bottom: -80px;
  width: 300px;
  height: 80px;
  font-size: 50px;
  font-weight: bold;
  -webkit-mask: url(../img/faicilities/mask.png) no-repeat;
  mask-size: 100%;
  background: white;
  opacity: 0;
  transition: opacity 0.8s;
}

#facilities.slidesActive .facilities .ani {
  opacity: 1;
}

@media (max-width: 1550px) {
  .nav > ul {
    display: flex;
    width: 100%;
  }
  .nav > ul > li {
    float: none;
    width: 20%;
  }
  .nav > ul > li > .submenu ul li {
    float: none;
    display: block;
    width: auto;
  }
  .nav > ul > li > .submenu ul li a {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 1280px) {
  body {
    overflow-y: visible;
  }
  #header {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  #header .header {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .container {
    padding-top: 10px;
    width: 100%;
  }
  main section .container .raw {
    box-sizing: border-box;
  }
  .slides {
    position: static;
  }
  .wedding .w_text h2 {
    font-size: 120px;
  }
  .w_left div h3 {
    font-size: 40px;
  }
  .w_right div h3 {
    font-size: 40px;
  }
  #facilities .facilities p {
    font-size: 120px;
    line-height: 120px;
  }
}

@media (max-width: 1100px) {
  .nav > ul > li > .submenu > a {
    font-size: 25px;
  }
  .nav > ul > li > .submenu ul li a {
    font-size: 20px;
  }
  #offer .offer .selectWrap {
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-bottom: 100px;
    border: 0;
  }
  #offer .offer .selectWrap .roomSelectWrap {
    position: relative;
    margin-bottom: 12px;
  }
  #offer .offer .selectWrap .roomSelectWrap .roomSelect {
    z-index: 10;
    width: 150px;
    left: 0;
  }
  #offer .offer .selectWrap .dateSelectWrap {
    margin: 0 auto;
    margin-bottom: 0;
  }
  #offer .offer .selectWrap .dateSelectWrap .dateSelect {
    margin-left: 0;
  }
  #offer .offer .selectWrap .dateSelectWrap .dateOption {
    z-index: 10;
  }
  #offer .offer .selectWrap .etcSelectWrap {
    margin-left: auto;
  }
  #offer .offer .selectWrap .etcSelectWrap .etcOption {
    z-index: 10;
  }
  #offer .offer .selectWrap .search {
    -webkit-mask: none;
    width: 400px;
    padding: 0;
    top: auto;
    bottom: -75px;
    right: auto;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    z-index: 0;
  }
}

@media (max-width: 960px) {
  #header .header .login ul li {
    margin: 0;
    padding-right: 15px;
  }
  #header .header .login ul li:last-child {
    padding: 0;
  }
  #header .header .login ul li a {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  #facilities .facilities p {
    font-size: 70px;
    line-height: 70px;
  }
}

@media (max-width: 800px) {
  main section .container {
    width: 100%;
  }
  main section .container .raw {
    box-sizing: border-box;
  }
  .header {
    width: 100vw;
  }
  .header .logo {
    top: 20px;
    left: auto;
    right: 30px;
    width: 80px;
  }
  .header .logo a {
    width: 100%;
  }
  .header .logo a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 64px;
  }
  .header .login {
    display: none;
    position: absolute;
    bottom: 0;
  }
  .header.active .login {
    display: block;
    position: fixed;
    bottom: 10px;
    width: 100vw;
  }
  .header.active .login ul {
    display: flex;
    padding: 0;
  }
  .header.active .login ul li {
    width: 100%;
    height: 45px;
    text-align: center;
    padding: 0;
    border: 1px solid white;
  }
  .header.active .login ul li a {
    height: 100%;
    line-height: 45px;
  }
  .header.active .login ul li a:hover {
    border: 0;
    background: white;
    color: #5b30b2;
    font-weight: bold;
  }
  .nav {
    height: 100vh;
    width: 100vw;
  }
  .nav > ul {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .nav > ul > li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
  .nav > ul > li > .submenu {
    height: auto;
  }
  .nav > ul > li > .submenu > a {
    line-height: 0;
    font-size: 25px;
    width: 100%;
    height: 0;
  }
  .nav > ul > li > .submenu ul {
    display: flex;
    height: auto;
    justify-content: center;
    padding-right: 15px;
  }
  .nav > ul > li > .submenu ul li {
    float: none;
    width: auto;
    height: auto;
    margin: 0;
    margin-right: 20px;
    padding: 1px;
  }
  .nav > ul > li > .submenu ul li a {
    font-size: 20px;
    width: 100%;
    padding: 10px;
  }
  .nav > ul > li > .submenu ul li:last-child {
    margin: 0;
  }
  #aside {
    display: none;
  }
  .wedding .w_text h2 {
    font-size: 80px;
  }
  .w_left div h3 {
    font-size: 25px;
  }
  .w_right div h3 {
    font-size: 25px;
  }
  .w_main a {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  #offer .offer .selectWrap {
    width: 280px;
  }
  #offer .offer .selectWrap .roomSelectWrap {
    position: relative;
    margin-bottom: 12px;
  }
  #offer .offer .selectWrap .roomSelectWrap .roomSelect {
    z-index: 10;
    width: 150px;
    left: 0;
  }
  #offer .offer .selectWrap .dateSelectWrap {
    margin: 0 auto;
    margin-bottom: 0;
  }
  #offer .offer .selectWrap .dateSelectWrap:hover .dateOption {
    height: 440px;
  }
  #offer .offer .selectWrap .dateSelectWrap .dateSelect {
    margin-left: 0;
  }
  #offer .offer .selectWrap .dateSelectWrap .dateOption {
    z-index: 10;
    width: 250px;
    padding: 0;
    flex-direction: column;
  }
  #offer .offer .selectWrap .dateSelectWrap .dateOption > div {
    width: 100%;
  }
  #offer .offer .selectWrap .dateSelectWrap .dateOption > div .calender {
    width: 90%;
  }
  #offer .offer .selectWrap .etcSelectWrap {
    margin-left: auto;
  }
  #offer .offer .selectWrap .etcSelectWrap .etcOption {
    z-index: 10;
  }
  #offer .offer .selectWrap .search {
    width: 280px;
  }
}
