#aside {
  z-index: 10;
  position: fixed;
  top: 50%;
}

main {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main section {
  height: 1000px;
}

main section .container {
  width: 1280px;
}

main section .container .raw {
  padding: 0 28px;
}

.slides {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#offer {
  background: #eaff2c;
}

#wedding {
  background: #79ff2c;
}

#dining {
  background: #2cffd1;
}

#casino {
  background: #2cceff;
}

#facilities {
  background: #2c76ff;
}
