*{font-family: "NanumSquare"}

/*스킵네비게이션*/
#skip{
    position: relative;
    z-index: 9999;
}
#skip a{
    position: absolute;
    top: -40px;
    left: 0;
    width: 160px;
    background: #282828;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
}
#skip a:active,
#skip a:focus{top: 0;}

main {}
#banner{margin: 0 auto;width: 100%;}
#contents{
    background: url(../img/cont2_back.jpg);
}
.container{width: 1280px;}
.row{padding: 28px;}

/*banner*/
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.banner img{
    height: 100vh;
    width: 100vw;
}
.banner .ban_text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    text-align: center;
}
.banner h1{
    font-size: 5vw;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1vw;
}
.banner p{
    font-size: 2vw;
    color: #fff;
}
.banner .sliderlist{
    width: 100%;
    position: relative;
}
.banner .sliderlist .sliderimg{
    position: absolute;
}



.contents{}
/*cont1*/
.cont1{
    overflow: hidden;
    padding: 5vw 0 4vw 0;
}
.cont1 .ban{
    float: left;
    width: 50%;
}
.cont1 .ban .img{
    width: 100%;
}
.slick-prev{
    width: 0;
    font-size: 0;
}
.slick-next{
    width: 0;
    font-size: 0;
}
slick-list{
    position: relative;
}

.ban .slick-dots{
    display: block;
    width: 100%;
    text-align: center;
    z-index: 10;
    position: absolute;
    bottom: -2vw;
    left: 0;
}
.ban .slick-dots li{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px; 
    padding-bottom: 1vw;
}
.ban .slick-dots li button{
    cursor: pointer;
    font-size: 0;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,0.3);
    border-radius: 50%; 
    border-style: none;
}

.ban ul.slick-dots li.slick-active button{
    background: #fff;
}
.cont1 .cont1_texts{
    float: right;
    width: 45%;
    height: 100%;
}
.cont1 .cont1_texts h2{
    margin-top: 1vw;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bolder;
    color: #fff;
}
.cont1 .cont1_texts>p{
    text-align: center;
    font-size: 0.94vw;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cont1 .cont1_texts .text{
    padding: 0.5vw;
    position: relative;
    margin-top: 1vw;
}
.cont1 .cont1_texts .text .infor{
    width: 65%;
    color: #fff;  
    margin-top: 1.1vw;
}
.cont1 .cont1_texts .text .infor ul{
    margin-top: 2vw;
}
.cont1 .cont1_texts .text .infor ul li{
    font-size: 1vw;
    color: #fff;
    margin-bottom: 1vw;
}
.cont1 .cont1_texts .text .infor ul li:last-child{margin-bottom: 0;}
.cont1 .cont1_texts .text .infor ul li em{
    color: #fff;  
}
.cont1 .cont1_texts>.text .infor ul li strong{
    color: #fff;
    padding-left: 20px;
}
.cont1 .cont1_texts .text .box{
    position: absolute;
    right: 0vw;
    top: 1.2vw;
    color: #fff;
    border: 0.3vw solid #fff;
    width: 8.1vw;
    font-weight: bold;
    padding: 0.5vw;
}
.cont1 .cont1_texts .text .box ul{}
.cont1 .cont1_texts .text .box ul li{
    border-bottom: 0.1vw solid #fff;
}
.cont1 .cont1_texts .text .box ul li.top_menu{
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 0.5vw;
    cursor: pointer;
    line-height: 3vw;
    border-bottom: none;
}
.cont1 .cont1_texts .text .box ul li:hover{
    color: #5b30be;
}
.cont1 .cont1_texts .text .box ul li:hover a{
    color: #5b30be;
}
.cont1 .cont1_texts .text .box ul li a{
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
    display: block;
    margin: 0.5vw;
    line-height: 3vw;
    text-align: center;
}
.cont1 .cont1_texts .text .box ul li.last a{border-bottom: none;}

/*cont2*/
.cont2{
    padding: 15vw 0 0 0;
    overflow: hidden;
    position: relative;
}
.cont2 .image{
    width: 34%;
}
.cont2 .last img, .cont2 .first img{
    width: 92%;
    margin-right: 0;
}
.cont2 .last{
    padding-bottom: 20vw;
}
.cont2>div{
    width: 100%;
    overflow: hidden;
}
/*con2_1*/
.cont2 .left1{
    padding-left: 5vw;
    margin: 19vw 0 20vw 0;
}
.cont2 .left{
    float: left;
}
.cont2 .left .image{
    float: left;
}
.left1 .texts1{
    float: left;
    width: 35%;
    margin-top: 2vw;
    padding-left: 4vw;
    overflow: hidden;
}
.texts1 .menu{
    overflow: hidden;
    width: 100%;
}
.texts1 .menu h3{
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 2vw;
}
.texts1 .menu p{
    float: right;
    color: #fff;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2;
}
.texts1 .menu_infor p{
    color: #fff;
    font-size: 1.2vw;
    margin: 2vw 0;
}
.texts1 .menu_infor em{
    color: #fff;
    font-size: 0.8vw;
}
 /*con2_2*/
.cont2 .right{
    float: right;
    
}
.cont2 .right1{
    opacity: 0;
}
.right1 .texts2{
    width: 35%;
    float: left;
    margin-left: 5vw;
    padding: 5vw 2vw 0 23vw;
}
.texts2 .menu{
    overflow: hidden;
    width: 100%;
}
.texts2 .menu h3{
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 2vw;
}
.texts2 .menu p{
    float: right;
    color: #fff;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2;
}
.texts2 .menu_infor p{
    color: #fff;
    font-size: 1.2vw;
    margin: 2vw 0;
}
.texts2 .menu_infor em{
    color: #fff;
    font-size: 0.8vw;
}
.right1.last{
    height: 22vw;
}

/*cont2_3*/
.left2{
    position: relative;
    margin-bottom: 20vw;
    padding-left: 10vw;
    z-index: 1;}
.left2 .texts3{
    width: 35%;
    margin-top: 5vw;
    overflow: hidden;
}
.texts3 .menu{
    overflow: hidden;
    width: 100%;
}
.texts3 .menu h3{
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 2vw;
}
.texts3 .menu p{
    float: right;
    color: #fff;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2;
}
.texts3 .menu_infor{}
.texts3 .menu_infor p{
    color: #fff;
    font-size: 1.2vw;
    margin: 2vw 0;
}
.texts3 .menu_infor em{
    color: #fff;
    font-size: 0.8vw;
}
.cont2 .content_bottom{
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.cont2 .content_bottom{
    width: 70%;
}
.cont2 .content_bottom img{display: block;}

/*스크롤애니메이션*/
.hideme
{
    opacity:0;
}
.fadeinleft {
    opacity:0;
    margin-left:-100px;    
    max-width:100%;
}
.fadeinright {
    opacity:0;
    margin-right: 500px;    
    max-width:100%;
}
.fadeinbottom {
    opacity:0;
    margin-bottom:-100px;    
    max-width:100%;
}






/*메뉴레이어팝업*/
#layer{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 28vw;
    border-radius: 3%;
    background: #fff;
    padding: 2vw 2vw 3vw 2vw;
    z-index: 1000;
}
.tab_btn{
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    border-bottom: 0.2vw solid #282828;
    margin-bottom: 2vw;
    padding-bottom: 1vw;
}
.tab_btn ul{
    overflow: hidden;
    text-align: center;
}
.tab_btn ul li{
    float: left;
    margin-right: 4vw;
}
.tab_btn ul li:last-child{
    margin-right: 0;
}
.tab_btn ul li a{
    text-align: center;
    font-size: 1.3vw;
    font-weight: 600;
    display: block;
}
.tab_btn ul li.active a{
    color: #5b30be;
}
#layer .rooftop_m{
    text-align: center;
    font-size: 1vw;
    line-height: 1.6vw;
    height: 80%;
    /*overflow: scroll;*/
}
#layer .rooftop_m>div{
    flex-direction: column;
    margin-bottom: 2vw;
}
#layer .rooftop_m>div strong{
    text-transform: uppercase;
    font-size: 1.1vw;
}
#layer .rooftop_m>div p{
    margin-bottom: 2vw;
    white-space: pre-line;
    font-size: 0.9vw;
    text-transform: capitalize;
}
#layer .rooftop_m>div p em{
    font-weight: bold;
}
#layer .rooftop_m>div p.last{
    margin-bottom: 0px;
}
#layer .close{
    position: absolute;
    bottom: 1vw;
    right: 15vw;
    font-size: 1vw;
    background: #000;
    color: #fff;
    padding: 0px 1vw;
    border-radius: 3px;
    cursor: pointer;
}



@media(max-width:1400px){
    
    .banner{height: 900px;}
    .banner img{height: 900px;}
    
    .cont1 .cont1_texts .text{margin-top: 4vw;}  
    .cont1 .cont1_texts h2{margin-top: 0.5vw;font-size: 3vw;}
    .cont1 .cont1_texts>p{font-size: 1.2vw;}
    .cont1 .cont1_texts .text .infor ul li{font-size: 1.2vw;margin-bottom: 1vw;}
    
    .cont1 .cont1_texts .text .box{width: 8.1vw;padding: 1vw;margin-top: 0.8vw;}
    .cont1 .cont1_texts .text .box ul li.top_menu{font-size: 1.3vw;}
    .cont1 .cont1_texts .text .box ul li a{font-size: 1.3vw;}
}


@media(max-width:1280px){
    .container{width: 100%;}
    .banner{height: 800px;}
    .banner img{height: 800px;}
    
    .cont1 .cont1_texts .text .infor ul li{margin-bottom: 0.9vw;}
    .cont1 .cont1_texts h2{margin-top: 0.5vw;font-size: 3vw;}
    .cont1 .cont1_texts>p{font-size: 1.3vw;}
    .cont1 .cont1_texts .text .infor ul li{font-size: 1.4vw;margin-bottom: 1vw;}
    
    .cont1 .cont1_texts .text .box{width: 9.1vw;padding: 1.3vw 1vw;margin-top: 0.8vw;}
    .cont1 .cont1_texts .text .box ul li.top_menu{font-size: 1.5vw;}
    .cont1 .cont1_texts .text .box ul li a{font-size: 1.5vw;}
}

@media(max-width:950px){
    .banner{height: 500px;}
    .banner img{height: 500px;}


@media(max-width:768px){
    .banner{height: 400px;}
    .banner img{height: 400px;}
    

    .cont1 .cont1_texts h2{margin-top: 1.5vw;font-size: 3vw;}
    .cont1 .cont1_texts>p{font-size: 1.3vw;}
    .cont1 .cont1_texts .text .infor ul{margin-top: 3vw;}
    .cont1 .cont1_texts .text .infor ul li{font-size: 1.6vw;margin-bottom: 1vw;}
    .cont1 .cont1_texts .text .infor ul li:nth-child(2){display: none;}
    
    .cont1 .cont1_texts .text .box{width: 9.1vw;padding: 1.3vw 1vw;margin-top: 0.8vw;}
    .cont1 .cont1_texts .text .box ul li.top_menu{font-size: 1.7vw;}
    .cont1 .cont1_texts .text .box ul li a{font-size: 1.7vw;}
    
    

    
    
    .right1 .texts2{padding: 8vw 2vw 0 20vw}
    .texts2 .menu_infor p, .texts1 .menu_infor p{display: none;}
    .texts1 {padding-top: 5vw;}

    
    .cont2 .last img, .cont2 .first img{width: 100%;}
    .cont2 .left1 .image img{width: 110%;}
    .left1 .texts1{padding-left: 9vw;}
    
    
    
    
    .right1 .texts2{padding: 11vw 2vw 0vw 12vw;}
    .right1 .texts2.bon{padding: 11vw 2vw 0vw 15vw;}
    .texts2 .menu h3{float: none;font-size: 3.5vw;}
    .texts2 .menu p{float: none;font-size: 2.5vw;}
    .cont2 .first img{width: 120%;margin-left: -13vw;}
    .cont2 .last img{width: 120%;margin-left: -11vw;}
    
    
    
    .cont2 .left1{padding-left: 0vw;}
    .left1 .texts1{padding-left: 19vw;}
    .cont2 .left1 .image img{width: 140%;}
    .texts1 .menu h3{float: none;font-size: 3.5vw;}
    .texts1 .menu p{float: none;font-size: 2.5vw;}

    .cont2 .content_bottom img{display: none;}
    
}

@media(max-width:480px){
    .banner{height: 200px;}
    .banner img{height: 200px;}
    
    /*cont1*/

    .cont1 .ban{float: none;width: 100%;height: 60%;margin-bottom: 0vw;}
    .cont1 .cont1_texts{float: none;margin-top: 0vw;height: 60%;}
    .cont1 .cont1_texts .text .box{width: 14.1vw;height: 13.1vw;margin-top: 1vw;}
    .cont1 .cont1_texts{width: 100%;}
    .cont1 .cont1_texts .text{margin-top: 2vw;height: 14.1vw;}
    .cont1 .cont1_texts h2{font-size: 4vw;}
    .cont1 .cont1_texts>p{display: none;}
    .cont1 .cont1_texts .text .box{margin-top: -1vw;}
    .cont1 .cont1_texts .text .box ul li a{padding: 1.5vw 0px;}
    .cont1 .cont1_texts .text .box ul li.top_menu{margin-top: 2.3vw;}
    
    /*cont2 오른쪽에서 나오는 이미지*/
    .right1 .texts2{padding: 14vw 2vw 0vw 6vw;}
    .right1 .texts2.bon{padding: 14vw 2vw 0vw 9vw;}
    .texts2 .menu h3{float: none;}
    .texts2 .menu p{float: none;}
    .cont2 .first img{width: 150%;margin-left: -19vw;}
    .cont2 .last img{width: 150%;margin-left: -17vw;}

    /*cont2 왼쪽에서 나오는 이미지*/
    .cont2 .left1{padding-left: 7vw;}
    .left1 .texts1{padding-left: 19vw;margin-top: 3vw;}
    .cont2 .left1 .image img{width: 170%;margin-left: -8vw;}
    .texts1 .menu h3{float: none;}
    .texts1 .menu p{float: none;}
}


















