main {
  z-index: 0;
}

main .container {
  width: 1280px;
  margin: 0 auto;
}

main .container .row {
  padding: 0 28px;
}

#banner {
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  background: url(../img/banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 160px;
}

#banner h1 {
  color: white;
  font-size: 300px;
  font-weight: bold;
  text-align: center;
  line-height: 300px;
}

#banner p {
  color: white;
  font-size: 30px;
  text-align: center;
}

#banner .scrollDown {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: scrollDown 1.5s ease-in-out infinite;
  transform: translateX(-50%);
  opacity: 0.5;
  transition: opacity 1s;
}

#banner .scrollDown:hover {
  opacity: 1;
}

#banner .scrollDown .icon {
  width: 15px;
  height: 60px;
  border-radius: 10px;
  background-color: white;
}

#banner .scrollDown .cont {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#contents {
  margin-top: 1000px;
  padding-top: 100px;
  padding-bottom: 10px;
  background: white;
}

#contents .guid_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#contents .guid_wrap .guid {
  width: 33.33%;
  margin-bottom: 90px;
}

#contents .guid_wrap .guid h3 {
  font-size: 35px;
  font-weight: bold;
}

#contents .guid_wrap .guid p {
  font-size: 20px;
}

#contents .cont1 {
  margin-bottom: 30px;
}

#contents .cont2 img {
  margin-bottom: 90px;
}

#contents .cont2 .guid_wrap {
  justify-content: flex-start;
}

#contents .cont3 {
  margin-bottom: 245px;
}

#contents .cont3 h2 {
  font-size: 35px;
  font-weight: bold;
}

#contents .cont3 p {
  font-size: 20px;
  white-space: pre-line;
}
