@charset "UTF-8";

#aside {
  z-index: 10;
  position: fixed;
  top: 50%;
}

main {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  section {
    height: 1000px;
    .container {
      width: 1280px;
      .raw {
        padding: 0 28px;
        article {
        }
      }
    }
  }
}

.slides {
  transition: all 0.4s;
}

#offer {
  background: rgb(234, 255, 44);
}

#wedding {
  background: rgb(121, 255, 44);
}

#dining {
  background: rgb(44, 255, 209);
}

#casino {
  background: rgb(44, 206, 255);
}

#facilities {
  background: rgb(44, 118, 255);
}
