@charset "UTF-8";

body {
  overflow: hidden;
}

@keyframes opening {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#opening {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      width: 100px;
      opacity: 0;
      &.active {
        animation: opening 1s ease 1;
        opacity: 1;
      }
    }
    .desc {
      text-align: center;
      .title_K {
        font-size: 30px;
        opacity: 0;
        &.active {
          animation: opening 1s ease 1;
          opacity: 1;
        }
      }
      .title_E {
        font-size: 20px;
        opacity: 0;
        &.active {
          animation: opening 1s ease 1;
          opacity: 1;
        }
      }
      .hotel_name {
        margin-top: 30px;
        font-size: 25px;
        color: #aaa;
        opacity: 0;
        &.active {
          animation: opening 1s ease 1;
          opacity: 1;
        }
      }
    }
    button.op_skip {
      margin-top: 30px;
      padding: 15px 30px;
      border-radius: 10px;
      border: 2px solid #282828;
      background: none;
      opacity: 0.05;
      transition: opacity 0.4s;
      font-size: 20px;
      font-weight: bold;
      color: #282828;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#aside {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 5vw;
  transform: translate(0, -50%);
}

main {
  z-index: 0;
  width: 100vw;
  section {
    height: 100vh;
    width: 100vw;
    .container {
      width: 1280px;
      .raw {
        padding: 0 28px;
        article {
        }
      }
    }
  }
}

#aside ul {
  li {
    font-size: 24px;
    color: white;
    opacity: 0.5;
    position: relative;
    transition: opacity 0.4s;
    text-transform: capitalize;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      left: -20px;
      width: 10px;
      height: 100%;
      background-color: white;
    }
    &.active {
      opacity: 1;
    }
  }
}

.slides {
  transition: all 0.4s;
  position: absolute;
  bottom: -100vh;
  &.slidesActive {
    bottom: 0;
  }
}

#offer {
  background: url(../img/rooms.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#wedding {
  background: url(../img/wedding.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#dining {
  background: url(../img/dining.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#casino {
  background: url(../img/casino.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#facilities {
  background: url(../img/facilities.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
