@charset "UTF-8";

body {
  overflow: hidden;
  width: 100vw;
}

@keyframes opening {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#opening {
  width: 100vw;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      width: 100px;
      opacity: 0;
      &.active {
        animation: opening 1s ease 1;
        opacity: 1;
      }
    }
    .desc {
      text-align: center;
      .title_K {
        font-size: 30px;
        opacity: 0;
        &.active {
          animation: opening 1s ease 1;
          opacity: 1;
        }
      }
      .title_E {
        font-size: 20px;
        opacity: 0;
        &.active {
          animation: opening 1s ease 1;
          opacity: 1;
        }
      }
      .hotel_name {
        margin-top: 30px;
        font-size: 25px;
        color: #aaa;
        opacity: 0;
        &.active {
          animation: opening 1s ease 1;
          opacity: 1;
        }
      }
    }
    button.op_skip {
      margin-top: 30px;
      padding: 15px 30px;
      border-radius: 10px;
      border: 2px solid #282828;
      background: none;
      opacity: 0.05;
      transition: opacity 0.4s;
      font-size: 20px;
      font-weight: bold;
      color: #282828;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#aside {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 5vw;
  transform: translate(0, -50%);
}

main {
  z-index: 0;
  width: 100vw;
  section {
    height: 100vh;
    width: 100vw;
    .container {
      width: 1280px;
      .raw {
        padding: 0 28px;
        article {
        }
      }
    }
  }
}

#aside ul {
  li {
    font-size: 24px;
    color: white;
    opacity: 0.5;
    position: relative;
    transition: opacity 0.4s;
    text-transform: capitalize;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      left: -20px;
      width: 10px;
      height: 100%;
      background-color: white;
    }
    &.active {
      opacity: 1;
    }
  }
}

.slides {
  transition: all 0.4s;
  position: absolute;
  bottom: -100vh;
  &.slidesActive {
    bottom: 0;
  }
}

#offer {
  background: url(../img/rooms.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#wedding {
  background: url(../img/wedding.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
#dining {
  background: url(../img/dining.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#casino {
  background: url(../img/casino.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#facilities {
  background: url(../img/facilities.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* CONTENTS */
#offer .offer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .selectWrap {
    display: flex;
    position: relative;
    align-items: flex-end;
    border: 5px solid white;
    padding: 7px 13px 11px 10px;
    border-radius: 5px;
    line-height: 30px;
    color: white;
    margin-right: 25px;
    transition: width 0.4s;
    .roomSelectWrap {
      .roomSelectBtn {
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: right;
        appearance: none;
        &:hover {
          color: #5b2fbd;
        }
      }
      .roomSelect {
        position: absolute;
        overflow: hidden;
        height: 0;
        top: 50px;
        left: 10px;
        transition: height 0.4s;
        cursor: pointer;
        ul {
          background: white;
          padding: 5px;
          border-radius: 5px;
          li {
            padding: 5px 15px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #282828;
            transition: all 0.4s;
            &:hover {
              color: #5b2fbd;
              transform: scale(1.1);
            }
            &:active {
              color: #5b2fbd;
              transform: scale(0.99);
            }
            &.active {
              background: #5b2fbd;
              color: white;
              border-radius: 5px;
            }
          }
        }
      }
      &:hover .roomSelect {
        height: 180px;
        display: block;
      }
    }
    .check {
      font-size: 25px;
      margin-left: 10px;
    }
    .dateSelectWrap {
      position: relative;
      .dateSelect {
        margin-left: 10px;
        background: none;
        font-size: 25px;
        font-weight: bold;
        color: white;
      }
      &:hover .dateSelect {
        color: #5b2fbd;
      }
      .dateOption {
        position: absolute;
        overflow: hidden;
        left: -20px;
        top: 40px;
        display: flex;
        height: 0;
        width: 484px;
        border-radius: 10px;
        background: white;
        transition: height 0.4s;
        > div {
          width: 48%;
          padding: 10px;
          .title {
            color: #282828;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
          }
          .calender {
          }
        }
      }
      &:hover .dateOption {
        height: 200px;
      }
    }
    .etcSelectWrap {
      display: flex;
      position: relative;
      .selectOption {
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        appearance: none;
        &:hover {
          color: #5b2fbd;
        }
        option {
          background: none;
          color: black;
        }
      }
      .roomIndex {
        font-size: 20px;
        margin-left: 10px;
      }
      .adultIndex {
        font-size: 20px;
        margin-left: 10px;
      }
      .childIndex {
        font-size: 20px;
        margin-left: 10px;
      }
      .etcOption {
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        left: 35px;
        top: 45px;
        height: 0;
        transition: height 0.4s;
        ul {
          margin: 0 20px;
          padding: 5px 10px;
          border-radius: 10px;
          background: white;
          li {
            color: #282828;
            margin: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            text-align: center;
            transition: all 0.4s;
            cursor: pointer;
            &:hover {
              background: #5b2fbd;
              color: white;
              transform: scale(1.1);
            }
            &:active {
              background: #5b2fbd;
              color: white;
              transform: scale(0.99);
            }
            &.active {
              background: #5b2fbd;
              color: white;
            }
          }
        }
      }
      &:hover .etcOption {
        height: 310px;
      }
    }
    .search {
      position: absolute;
      top: -5px;
      right: -71px;
      height: 50px;
      width: 50px;
      background: white;
      border: 12px solid white;
      border-radius: 5px;
      box-sizing: content-box;
      -webkit-mask: url(../img/offer/ico_mask.png) no-repeat;
      mask-size: 100%;
      font-size: 0;
      transition: all 0.4s;
      &:hover {
        transform: scale(1.1);
      }
      &:focus {
        background: #5b2fbd;
        border: 12px solid #5b2fbd;
      }
      &:active {
        transform: scale(0.99);
        background: #5b2fbd;
        border: 12px solid #5b2fbd;
      }
    }
  }
}

/* WEDDING_ 손봄*/

.wedding .w_text h2 {
  font-size: 150px;
  font-family: "Italianno", cursive;
  color: #fff;
  text-align: center;
  margin-top: 300px;
  text-shadow: 5px 5px 5px #111;
}
.w_box {
  overflow: hidden;
  box-sizing: border-box;
}
.w_left {
  float: left;
  width: 50%;
  overflow: hidden;
}
.w_left div {
  width: 40%;
  border: 1px solid #fff;
  float: right;
  color: #fff;
  text-align: center;
  padding: 35px;
  background: rgba(0, 0, 0, 0.5);
}

.w_left div h3 {
  font-size: 65px;
  font-family: "Italianno", cursive;
  text-shadow: 3px 3px 3px #111;
}
.w_left div a {
  font-size: 15px;
  color: #fff;
  display: block;
  opacity: 0;
}
.w_left div:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 1s;
}
.w_left div:hover a {
  opacity: 1;
  transition: opacity 1s;
}
.w_left div a:hover p {
  text-decoration: underline;
}
.w_right {
  float: left;
  width: 50%;
}
.w_right div {
  width: 40%;
  border: 1px solid #fff;
  margin-left: -1px;
  color: #fff;
  text-align: center;
  padding: 35px;
  background: rgba(0, 0, 0, 0.5);
}
.w_right div h3 {
  font-size: 65px;
  font-family: "Italianno", cursive;
  text-shadow: 3px 3px 3px #111;
  margin-right: 10px;
}
.w_right div a {
  font-size: 15px;
  color: #fff;
  display: block;
  opacity: 0;
}
.w_right div:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 1s;
}
.w_right div:hover a {
  opacity: 1;
  transition: opacity 1s;
}
.w_right div a:hover p {
  text-decoration: underline;
}

.w_main {
  text-align: center;
  margin-top: 20px;
}
.w_main a {
  color: #fff;
}
.w_main a:hover {
  text-decoration: underline;
}
/* //WEDDING_ 손봄*/

#dining .raw {
  display: flex;
  justify-content: center;
}
/*dining 정희*/
main {
  .dining {
    width: 65vw;
    height: 33vw;
    background: rgba(0, 0, 0, 0.55);
    border: 1vw solid #fff;
    color: #fff;
    text-align: center;
    margin-top: 35vh;
    padding: 5vw;
    box-sizing: border-box;
    transition: all 1s;
    opacity: 0;
  }
  .dining.active {
    opacity: 1;
    margin-top: 18vh;
  }
  .dining strong {
    font-size: 7vw;
    font-weight: bold;
    padding-top: 3vw;
  }
  .dining p {
    font-size: 1.7vw;
  }
  .dining a {
    margin-top: 3vw;
    display: block;
    background: rgba(255, 255, 255, 0.6);
    width: 7vw;
    text-align: center;
    margin-left: 42%;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 0.4vw 2vw;
    border-radius: 0.5vw;
    transition: all 0.2s;
  }
  .dining a:hover {
    color: #000;
    transform: scale(0.9);
  }

  /*//dining 정희*/

  /*casino 은주*/
  .slidedown {
    z-index: -1;
    margin-top: -600px;
    opacity: 0;
  }
  .casino_back {
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
  }
  .m_casino {
    color: #fff;
    text-align: center;
    padding-top: 180px;
  }
  .m_casino span {
    font-size: 3vw;
    font-weight: bold;
  }
  .m_casino p {
    font-size: 1.5vw;
    padding-top: 10px;
  }
  .m_casino a {
    border: 1px solid #fff;
    font-size: 1vw;
    padding: 15px 20px;
    color: #fff;
    margin-top: 50px;
    display: inline-block;
  }
}
/*//casino 은주*/

#facilities {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .facilities {
    position: relative;
    margin-bottom: 80px;
    p {
      font-size: 150px;
      font-weight: bold;
      line-height: 150px;
      white-space: pre-line;
      color: white;
      opacity: 0;
      transition: opacity 1s;
    }
    .title_right {
      margin-top: 100px;
      text-align: right;
    }
    .link {
      position: absolute;
      right: 0;
      bottom: -80px;
      width: 300px;
      height: 80px;
      font-size: 50px;
      font-weight: bold;
      -webkit-mask: url(../img/faicilities/mask.png) no-repeat;
      mask-size: 100%;
      background: white;
      opacity: 0;
      transition: opacity 0.8s;
    }
  }

  &.slidesActive .facilities {
    .ani {
      opacity: 1;
    }
  }
}

@import "_responsive";
