@charset "UTF-8";

@media (max-width: 1300px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  main .container {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  main #contents {
    h2 {
      font-size: 80px;
    }
    .text {
      font-size: 30px;
    }
    .cont2::before,
    .cont3::before,
    .cont4::before,
    .cont5::before {
      height: 600px;
    }
  }
}

@media (max-width: 800px) {
  main {
    .container .row {
      padding: 0;
    }
    #contents {
      h2 {
        font-size: 10vw;
        line-height: 10vw;
        padding-left: 30px;
      }
      .text {
        line-height: 3vw;
        font-size: 3vw;
        padding-left: 30px;
      }
      figure figcaption a {
        padding: 10px 20px;
        border: 3px solid white;
        font-size: 7vw;
        &:hover {
          border: 3px solid #5b30be;
          color: #5b30be;
        }
      }
      .cont2::before,
      .cont3::before,
      .cont4::before,
      .cont5::before {
        height: 300px;
      }
    }
  }
}
